#header{
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
}
.fixed-top{
    position: fixed;
    top: 0;
    right: 70px;
    left: 70px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.logo a{
    color: #fff;
    text-decoration: none;
}
.navbar{
    padding: 0;
}
.navbar ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar li{
    white-space: nowrap;
    padding: 10px 0 10px 24px;
    position: relative;
    

}
.navbar a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 15px;
    padding: 0 4px;
    white-space: nowrap;
    letter-spacing: 0.7px;
    position: relative;
    text-decoration: none;
}
#hero{
    width: 100%;
    height: 100vh;
    background: url("../image/1.jpg") top center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;

}
#hero::before{
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.hero-container{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}
#hero h3{
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 26px;
    padding: 10px 30px;
    margin-bottom: 30px;
    border-radius: 50px;
}
#hero h2{
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}
#hero h1{
    color: #fff;
    font-size: 48px;
}
.btn-get{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px 9px 30px;
    border-radius: 50px;
    border: 2px solid #fff;
    color: #fff;
}
.section-title{
    text-align: center;
    padding-bottom: 30px;
    margin-top: 40px;
}
.section-title h2{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    line-height: 2;
    margin: 0;
    background: #fdeff2;
    color: #e43c5c;
    display: inline-block;
    border-radius: 50px;
}
.section-title h3{
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 2;
}
.section-title p{
    font-size: 20px;
}
.section-title span{
    color: #e43c5c;
}
.row{
    display: flex;
    justify-content: center;
 
}
.col1{
   
    width: 43%;
}
.col1 p{
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 30px;
}
.btn-learn{
    margin-left: 25px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    color: #e43c5c;
    margin-top: 6px;
    border: 2px solid #e43c5c;
}
.col1 ul{
    list-style: none;
    padding: 0;
}
.col1 ul li{
    padding-left: 28px;
}
.col1 ul li i {
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #e43c5c;
    line-height: 1;
}
.row1{
    display: flex;
    flex-wrap: ;
}
.col2{
    width: 25%;
    margin: 20px;
}
.icon-box{
    padding: 60px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 2px 0 35px 0 rgb(68 88 144 / 12%);
    border-radius: 8px;
    z-index: 1;
    text-align: center;
}
.icon{
    margin-bottom: 15px;
}
.icon i{
    font-size: 48px;
    line-height: 1;
    color: #e43c5c;
}
.title{
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}
.title a{
    color: #000000;
}
.description{
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}
.features{
    padding-top: 20px;
}
.features-container{
    max-width: 960px;
    margin-left: 150px;
}
.row2{
    display: flex;
    flex-wrap: wrap;
}
.col3{
    width: 21%;
    margin: 10px;
    margin-left: 18px;
}
.features .icon-box{
    display: flex;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 0 35px 0 rgb(68 88 144 / 12%);
}
.features .icon-box i{
    font-size: 32px;
    padding-right: 10px;
    line-height: 1;
}
.features .icon-box h3{
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
}
.col3 a{
    text-decoration: none;
}
.cta{
    background-attachment: fixed;
    background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.8)), url("../image/1.jpg") center center;
    background-size: cover;
    padding: 60px 0;
}
.cta-container{
    max-width: 960px;
    margin-left: 150px;
}
.text-center{
    text-align: center;
}
.cta{
    color: #fff;
    font-weight: 700;
}
.cta p{
    color: #fff;
}
.cta-btn{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 25px;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
}
.portfolio-fillter{
    margin: 0 auto 15px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
}
.portfolio-fillter li{
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #444444;
    background: #ede9e9;
    border-radius: 50px;
    margin: 0 3px 10px 3px;
}

 
.portfolio-flex-container{
    display: flex;
    flex-wrap: wrap;
}
.portfolio-flex-items{
    width: 33.33%;
}
.portfolio-card{
    position: relative;
    overflow: hidden;
    padding: 20px;

}
.portfolio-card img{
    max-width: 100%;
}
.portfolio-overlay{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    left: 35px;
    top: 180px;

}
